.blog-page {
  padding: 120px 0 60px;

  &__item--slider {
    .blog-page__item-box {
      margin-top: -8px;
    }
  }

  &__slider {

    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
      width: 40px;
      height: 40px;
      background-color: $accent;
      box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 50%;
      cursor: pointer;

      svg path {
        fill: #fff;
      }
    }

    .slick-disabled {
      background-color: #fff;
      box-shadow: 0px 7px 20px 0px rgba(168, 168, 168, 0.3);

      svg path {
        fill: $accent;

      }
    }

    .slick-next {
      left: 40px;
    }

    .slick-prev {
      right: 40px;
    }

  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 770px;
    margin-right: 30px;
  }

  &__item {
    margin-bottom: 60px;

    &.blog-page__item--no-image {
      border-top: 1px solid #ececec;
      box-shadow: 0px 20px 60px 0px rgba(202, 202, 202, 0.35);
    }
  }

  &__item-link {
    display: block;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
  }

  &__img {
    max-width: 770px;
    height: 450px;
    object-fit: cover;
    display: block;
  }


  &__aside {
    width: 370px;
  }

  &__item-box {
    border: 1px solid #ececec;
    border-top: none;
    padding: 40px;
  }

  &__item-title {
    color: $title;
    font-size: 22px;
    @extend %roboto-700;
    margin-bottom: 20px;
    transition: color 0.5s;

    &:hover {
      color: $accent;
    }
  }

  .blog__item-info {
    justify-content: flex-start;
  }

  .blog__item-autor {
    margin-right: 30px;
  }
}

.person {
  border: 1px solid #ececec;
  margin-bottom: 40px;
  padding: 40px 25px;
  text-align: center;

  &__img {
    display: inline-block;
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin: 0 auto 35px;
  }

  &__name {
    color: $title;
    font-size: 18px;
    @extend %roboto-700;
  }

  &__position {
    color: $accent;
    margin-bottom: 25px;

  }

  &__text {
    margin-bottom: 25px;
  }

  &__social-link {
    margin: 0 8px;

    svg path {
      fill: $default;
      transition: fill 0.5s;
    }

    &:hover {
      svg path {
        fill: $accent;
      }
    }
  }
}

.latest-post {
  padding: 35px 30px 40px;
  border: 1px solid #ececec;
  margin-bottom: 40px;

  &__title {
    color: $title;
    text-transform: uppercase;
    @extend %roboto-400;
    font-size: 22px;
    margin-bottom: 35px;
  }

  // .latest-post__post {}

  &__item {
    margin-bottom: 20px;
    display: flex;

    &:not(:last-child) {
      border-bottom: 1px solid #ececec;
      padding-bottom: 20px;
    }
  }

  &__img-link {
    display: block;
    margin-right: 20px;
    min-width: 80px;
  }

  &__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }

  // .latest-post__box {}

  &__title-link {
    @extend %roboto-400;
    font-size: 18px;
    color: $title;
    line-height: 28px;
  }



&__date {
  padding-left: 26px;
  position: relative;
  &::before {
    content:'';
    position: absolute;
    background-image: url('../images/icons/calendar.svg');left: 0;
    top: 5px;
    width: 16px;
    height: 16px;
  }
}
}